<a href="https://colab.research.google.com/github/fereshtehdehkhoda/Example37-KNN50-RMSE/blob/main/S10soale6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#روی داده‌های آموزش hw10_train.csv یک مدل نزدیکترین همسایه (kNN) بسازید. تعداد همسایه‌ها را 50 قرار دهید. شاخص RMSE روی داده‌های آموزش چقدر است؟

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
data=pd.read_csv("hw10_train.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      6500 non-null   float64
 1   V       6500 non-null   float64
 2   AP      6500 non-null   float64
 3   RH      6500 non-null   float64
 4   PE      6500 non-null   float64
dtypes: float64(5)
memory usage: 254.0 KB

In [ ]:
features=["AT","V","AP","RH"]
X_train=data[features]

In [ ]:
y_train=data["PE"]

In [ ]:
knn_50=KNeighborsRegressor(n_neighbors=50)
knn_50.fit(X_train,y_train)
data['pred_k50']=knn_50.predict(X_train)
data

         AT      V       AP     RH      PE   pred_50  pred_k50
0     14.96  41.76  1024.07  73.17  463.26  466.6676  466.6676
1     25.18  62.96  1020.04  59.08  444.37  444.9128  444.9128
2      5.11  39.40  1012.16  92.14  488.56  485.1110  485.1110
3     20.86  57.32  1010.24  76.64  446.48  445.5946  445.5946
4     10.82  37.50  1009.23  96.62  473.90  475.1648  475.1648
...     ...    ...      ...    ...     ...       ...       ...
6495  24.01  60.84  1018.83  63.82  436.32  446.3576  446.3576
6496  26.67  70.94  1007.70  56.56  439.13  435.5974  435.5974
6497  11.57  44.63  1020.70  91.11  469.64  472.2008  472.2008
6498  27.33  66.17  1011.06  64.55  443.89  439.3774  439.3774
6499  14.51  44.84  1023.23  82.33  465.09  466.3224  466.3224

[6500 rows x 7 columns]

In [ ]:
RMSE=np.sqrt(np.mean((data['PE']-data['pred_k50'])**2))
RMSE

4.361585912747441